.dropdownContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.dropdownContent {
  position: relative;
  min-width: 100px;
  max-height: 250px;

  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: lightgray whitesmoke;

  padding: 10px;
  border-radius: 5px;
  border-color: dimgrey;
  filter: drop-shadow(0px 1px 4px dimgrey);
  background-color: whitesmoke;
}
