{
  "extends": [
    "hardcore",
    "hardcore/react",
    "hardcore/react-performance",
    "hardcore/fp",
    "prettier",
    "prettier"
  ],

  "env": {
    "browser": true
  },

  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["hardcore/ts-for-js"],
      "parserOptions": {
        "project": true
      }
    }
  ],
  "plugins": [
    "react",
    "promise",
    "security",
    "import",
    "array-func",
    "sonarjs",
    "eslint-comments",
    "no-use-extend-native",
    "no-constructor-bind",
    "ext",
    "putout",
    "regexp",
    "@microsoft/sdl",
    "no-unsanitized",
    "unused-imports",
    "sonar",
    "simple-import-sort",
    "perfectionist",
    "@stylistic",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
